.contenu {
    width: 100%;
    height: 575px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.76)), url("../img/photo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: fuchsia;
}

.navbar-brand {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: black;
}

.nav-item {
    font-weight: bold;
}

.nav-link {
    color: white;
}


/* design du text d'accuieil */

.explication {
    top: 220px;
    position: relative;
}

.connexion {
    margin-inline-start: 550px;
}

.inscription {
    margin-inline-start: 40px;
}