{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %} {% include "./import_css.html" %}

</head>

<body>
    {% include "./navigation.html" with site_title='MK MODE' %} {% block content %}{% endblock %} {% include "./import_js.html" %}


</body>

</html>