{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b5b0e1afd0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />

</head>

<body>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <div class="wrapper">
        {% include "./dashboard_navigation.html" %}
        <div class="main_content">
            <div class="hearder bg-primary p-5">
                {% block header %}{% endblock %}
            </div>
            <div class="info">
                {% block content %}{% endblock %}
            </div>

        </div>

    </div>



</body>

</html>