{% extends "./base.html" %} {% block title %} Accueil {% endblock %} {% block content %}
<div class="contenu">
    <div class="text-center explication">
        <h2 class="text-light text-bold" style="font-weight: bolder">La mode en ligne</h2>
        <h5 class="text-light text-bold">Vous etes sur la plateforme de la mode Africaine, choisissez et faites-vous livrer vos produits.</h5>
        <a href="/login" class="btn btn-secondary m-5">Se connecter</a>
        <a href="/register" class="btn btn-secondary ">S'incription</a>
    </div>

</div>
{% endblock %}