 {% load static %}

<nav class="navbar navbar-expand-lg  ">
    <a class="navbar-brand " href="#">MK MODE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link nav-cart-count" href="#"><i class="fas fa-shopping-cart"></i></a>
            </li>
            <li class="nav-item text-bold">
                <a class="nav-link" href="#">Les articles</a>
            </li>
            <li class="nav-item text-bold">
                <a class="nav-link" href="#">Nous contacter</a>
            </li>

            <li class="nav-item connexion text-bold">
                <a class="nav-link btn-secondary " href="login/"><i class="fas fa-user"></i>Connexion</a>
            </li>
            <li class="nav-item inscription text-bold">
                <a class="nav-link btn-secondary" href="register/"><i class="fas fa-user-graduate"></i>Inscription</a>
            </li>


        </ul>

    </div>
</nav>