{% extends './base_dashboard.html' %} {% load static %} {% block content %}
<div>
    <div class="titre">
        <h3 class="text-center">les meilleurs Montres</h3>
    </div>
    <div class="row">
        {% for montre in montres %}
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <div class="card">
                <img class="card-img-top " src="{{montre.image.url}} " width="150 " height="150 " />
                <div class="card-body ">
                    <h5 class="card-title ">Nom: {{ montre.nom }}</h5>
                    <p class="card-text ">Description: {{ montre.description}}</p>
                    <div class=" text-center">
                        <p class="card-title ">Prix: {{montre.montant}}<span> CFA</span> </p>
                        <a href="/lieu/{{montre.nom}}" class="btn btn-danger text-center ">Commander</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="titre">
        <h3 class="text-center ">les meilleurs Chaines</h3>
    </div>
    <div class="row text-center ">
        {% for chaine in chaines %}
        <div class="col-lg-4 col-sm-4 col-xs-4 ">
            <div class="card ">
                <img class="card-img-top " src="{{ chaine.image.url }} " width="150 " height="150 " />
                <div class="card-body ">
                    <h5 class="card-title ">Nom: {{ chaine.nom }}</h5>
                    <p class="card-text ">Description: {{ chaine.description}}</p>
                    <div class="text-center">
                        <p class="card-title ">Prix: {{chaine.montant}}<span> CFA</span> </p>
                        <a href="/lieu/{{chaine.nom}}" class="btn btn-danger text-center ">Commander</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="titre">
        <h3 class="text-center ">les meilleurs Bracelets</h3>
    </div>
    <div class="row ">
        {% for bracelet in bracelets %}
        <div class="col-lg-4 col-sm-4 col-xs-4 ">
            <div class="card ">
                <img class="card-img-top " src="{{bracelet.image.url}} " width="150 " height="150 " />
                <div class="card-body ">
                    <h5 class="card-title ">Nom: {{ bracelet.nom }}</h5>
                    <p class="card-text ">Description: {{ bracelet.description}}</p>
                    <div class="text-center ">
                        <p class="card-title ">Prix: {{bracelet.montant}}<span>CFA</span> </p>
                        <a href="/lieu/{{bracelet.nom}}" class="btn btn-danger text-center ">Commander</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}