{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b5b0e1afd0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <style>
        .user_card {
            width: 500px;
            margin-left: 250px;
            margin-top: 100px;
            margin-bottom: auto;
            background: white;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 25px;
            border-radius: 10px;
        }
        
        .form_container {
            margin-top: 20px;
        }
        
        #form-title {
            color: black;
            font-weight: bold;
        }
        
        .login_btn {
            width: 100%;
            background: grey !important;
            color: white !important;
            font-weight: bold;
        }
        
        .login_btn:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }
        
        .login_container {
            padding: 0 2rem;
        }
        
        .input-group-text {
            background: #f3b9e9 !important;
            color: white !important;
            border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
        }
        
        .input_user,
        .input_pass:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }
        
        #messages {
            background-color: grey;
            color: #fff;
            padding: 10px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <div class="wrapper">

        {% include "./dashboard_navigation.html" %}
        <div class="main_content">
            <div class="header">
                {% block header %}

                <nav class="navbar navbar-light bg-light ml-5">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>
                    <a class="btn btn-outline-primary text-bolder" href="/commande">Mes Commandes</a>
                </nav>
                {% endblock %}
            </div>
            <div class="info">
                {% block content %}{% endblock %}
            </div>

        </div>

    </div>



</body>

</html>