{% extends './base_dashboard.html' %} {% load static %} {% block content %}
<div>
    <div class='titre'>
        <h3 class="text-center">les meilleurs Baskets</h3>
    </div>
    <div class="row">
        {% for basket in baskets %}
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <div class="card" ">
                <img class="card-img-top " src="{{basket.image.url}} " width="150 " height="150 " />
                <div class="card-body ">
                    <h5 class="card-title ">Nom: {{ basket.nom }}</h5>
                    <p class="card-text ">Description: {{ basket.description}}</p>
                    <div class="text-center ">
                        <p class="card-title ">Prix: {{basket.montant}}<span>CFA</span> </p>
                        <a href="/lieu/{{basket.nom}} " class="btn btn-danger text-center " >Commander</a>
                    </div>
                </div>
            </div> 
        </div>
        {% endfor %}

    </div>
    <div class='titre'>
        <h3 class="text-center ">les meilleurs Talons</h3>
    </div>
    <div class="row ">
        {% for talon in talons %}
        <div class="col-lg-4 col-sm-4 col-xs-4 ">
            <div class="card ">
                <img class="card-img-top " src="{{ talon.image.url }} " width="150 " height="150 " />
                <div class="card-body ">
                    <h5 class="card-title ">Nom: {{ talon.nom }}</h5>
                    <p class="card-text ">Description: {{ talon.description}}</p>
                    <div class="text-center ">
                        <p class="card-title ">Prix: {{talon.montant}}<span>CFA</span> </p>
                        <a href="/lieu/{{talon.nom}} " class="btn btn-danger text-center " >Commander</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class='titre'>
        <h3 class="text-center ">les meilleurs Espadrille</h3>
    </div>
    <div class="row ">
        {% for espadrille in espadrilles %}
        <div class="col-lg-4 col-sm-4 col-xs-4 ">
            <div class="card ">
                <img class="card-img-top " src="{{ espadrille.image.url }} " width="150 " height="150 " />
                <div class="card-body ">
                    <h5 class="card-title ">Nom: {{ espadrille.nom }}</h5>
                    <p class="card-text ">Description: {{ espadrille.description}}</p>
                    <div class="card-footer bg-transparent ">
                        <p class="card-title ">Prix: {{espadrille.montant}}<span>CFA</span> </p>
                        <a href="/lieu/{{espadrille.nom}} " class="btn btn-danger text-center " >Commander</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    
</div>
{% endblock %}