{% extends './base_dashboard.html' %} {% load static %} {% block content %}
<div>
    {% if commandes %}
    <div class="titre">
        <h3 class="text-center">les produits que vous avez commande</h3>
    </div>
    <div class="row">
        {% for commande in commandes %}
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <div class="card">
                <img class="card-img-top " src="{{commande.produit.image.url}} " width="150 " height="150 " />
                <div class="card-body ">
                    <h5 class="card-title ">Nom: {{ commande.produit.nom }}</h5>
                    <p class="card-text ">Description: {{ commande.produit.description}}</p>
                    <div class="text-center ">
                        <p class="card-title ">Prix: {{commande.produit.montant}}<span>CFA</span> </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endif %}
</div>
<div>
    <h5>Vous n'avez pas de commande</h5>
</div>
{% endblock %}