{% extends './base_dashboard.html' %} {% load static %} {% block content %}
<div>
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title">Bienvenue sur la plateforme de la mode</h5>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid" src="{% static 'img/accessoire.png' %} " style="border-radius: 50%;" width="150" height="100" alt="card image"></p>
                                        <h4 class="card-title">Nos accessoires</h4>
                                        <p class="card-text">Les accesoires de divers origines sont disponibles juste pour vous.</p>
                                        <a href="/accessoire" class="btn btn-secondary btn-sm"><i class="fa fa-plus">Voir les produits</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="{% static 'img/chaussure.png' %}" style="border-radius: 50%;" width="150" height="150" alt="card image"></p>
                                        <h4 class="card-title"> Les Chaussures</h4>
                                        <p class="card-text">Nous vous proposons des chaussures de bonnes qualités a tous prix.</p>
                                        <a href="/chaussure" class="btn btn-secondary btn-sm"><i class="fa fa-plus">Voir les produits</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="{% static 'img/sac.png' %} " style="border-radius: 50%;" width="150" height="150" alt="card image"></p>
                                        <h4 class="card-title">Les Sacs</h4>
                                        <p class="card-text">Vous avez les meilleurs sac a votre disposition à bas prix et de tous sortes et toutes couleurs</p>
                                        <a href="/sac" class="btn btn-secondary btn-sm"><i class="fa fa-plus">Voir les produits</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="{% static 'img/echarpe.png' %} " style="border-radius: 50%;" width="150" height="150" alt="card image"></p>
                                        <h4 class="card-title">Les Echarpes</h4>
                                        <p class="card-text">Les echappes hors gamme juste pour vous donc servez vous et profiter pleinement de nos produits</p>
                                        <a href="/echarpe" class="btn btn-secondary btn-sm"><i class="fa fa-plus">Voir les produits</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->

</div>
{% endblock %}