{% load static %}
<div class="sidebar">
    <h2>MK MODE </h2>
    <ul>
        <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/accessoire"><i class="fas fa-user"></i>Accessoires</a></li>
        <li><a href="/chaussure"><i class="fas fa-address-card"></i>Chaussures</a></li>
        <li><a href="/echarpe"><i class="fas fa-project-diagram"></i>Echarpes</a></li>
        <li><a href="/sac"><i class="fas fa-blog"></i>Sacs</a></li>
        <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
        <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
    </ul>
    <div class="social_media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</div>