{% extends './base_dashboard.html' %} {% load static %} {% block content %}
<div>
    <div class="titre">
        <h3 class="text-center">les meilleurs Baskets</h3>
    </div>
    <div class="row">
        {% for echarpe in echarpes %}
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <div class="card">
                <img class="card-img-top " src="{{echarpe.image.url}} " width="150 " height="150 " />
                <div class="card-body ">
                    <h5 class="card-title ">Nom: {{ echarpe.nom }}</h5>
                    <p class="card-text ">Description: {{ echarpe.description}}</p>
                    <div class="text-center ">
                        <p class="card-title ">Prix: {{echarpe.montant}}<span>CFA</span> </p>
                        <a href="/lieu/{{echarpe.nom}}" class="btn btn-danger text-center ">Commander</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}