{% extends './base_dashboard.html' %} {% load static %} {% block content %}
<div>
    <div class="user_card">
        <div class="d-flex justify-content-center">
            <h3 id="form-title">Entrez le lieu de livraison</h3>
        </div>
        <div class=" justify-content-center form_container">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="lieu" placeholder="Exemple:Koumassi,Grande Mosquee" class="form-control">
                </div>
                <h5 class="text-bold">Mode de payment:</h5>
                <label class="container">Espèce
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="container">En ligne (Non disponible)
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <div class="d-flex justify-content-center mt-3 login_container">
                    <input class="btn login_btn" type="submit" value="Envoyer">
                </div>
            </form>

        </div>

    </div>

</div>
{% endblock %}