{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: #f3b9e9;
        }
        
        .container-fluid {
            margin-top: 60px;
        }
        
        .header {
            text-align: center;
            padding: 20px;
            font-size: 20px;
        }
        
        .card {
            opacity: 0.8;
            filter: alpha(opacity=60);
            width: 400px;
        }
        
        .card1 {
            text-align: center;
            margin-left: 60px;
            margin-top: 100px;
            opacity: 0.8;
            filter: alpha(opacity=60);
            width: 400px;
        }
        
        .card-title {
            font-weight: bold;
            text-align: center;
        }
        
        .card-text {
            text-align: justify;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6 ">
                <div class="card1 ">
                    <div class="card-body ">
                        <h4 class="card-title ">Votre commande a bien ete pris en compte</h4>
                        <h5>{{produit}} </h5>
                        <h5>{{user}} </h5>
                        <img class="card-img-botton " src="{% static 'img/valide.png'%}" width="150 " height="150 " />
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6 ">
                <div class="card">
                    <img class="card-img-top " src="{% static 'img/valider.png'%} " width="150 " height="150 " />
                    <div class="card-body">
                        <h5 class="card-title">Information de livraison</h5>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-success"><i class="fa fa-briefcase" style="font-size:15px;"></i> Nom:<span>{{livreur.nom}} </span> </li>
                            <li class="list-group-item list-group-item-success"><i class="fa fa-user" style="font-size:15px;"></i> Prenom: <span>{{livreur.prenom}} </span></li>
                            <li class="list-group-item list-group-item-success"><i class="fa fa-map-marker" style="font-size:15px;"></i> Contact: <span>{{livreur.contact}} </span></li>
                            <li class="list-group-item list-group-item-success"><i class="fa fa-clock-o" style="font-size:15px;"></i> Lieu: <span>{{lieu}} </span></li>
                            <li class="list-group-item list-group-item-success"><i class="fa fa-inr" style="font-size:15px;"></i> Date: <span>{{date}} </span></li>
                        </ul>

                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary" href="/dashboard">Passer une autre commande</a>
                    </div>
                </div>

            </div>
        </div>


    </div>

</body>

</html>