 {% load static %}
<!-- le code du modal -->
<div class="modal fade " id="exampleModal " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel " aria-hidden="true ">
    <div class="modal-dialog " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLabel ">Renseignez le lieu de livraison</h5>
                <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
            <span aria-hidden="true ">&times;</span>
          </button>
            </div>
            <div class="modal-body ">
                <form>
                    {% csrf_token %}
                    <div class="input-group mb-3 ">
                        <div class="input-group-append ">
                            <span class="input-group-text "><i class="fas fa-user "></i></span>
                        </div>
                        <input type="text " name="lieu " placeholder="Lieu livraion... " class="form-control ">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container ">
                        <input class="btn login_btn " type="submit " value="Envoyer ">
                    </div>
                </form>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-secondary " data-dismiss="modal ">Annuler</button>
            </div>
        </div>
    </div>
</div>