{% extends './base_dashboard.html' %} {% load static %} {% block content %}
<div>
    <div class="titre">
        <h3 class="text-center">les meilleurs Sacs à mains</h3>
    </div>
    <div class="row">
        {% for sac in sac_a_mains %}
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <div class="card">
                <img class="card-img-top " src="{{sac.image.url}} " width="150 " height="150 " />
                <div class="card-body ">
                    <h5 class="card-title ">Nom: {{ sac.nom }}</h5>
                    <p class="card-text ">Description: {{ sac.description}}</p>
                    <div class="text-center ">
                        <p class="card-title ">Prix: {{sac.montant}}<span>CFA</span> </p>
                        <a href="/lieu" class="btn btn-danger text-center ">Commander</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="titre">
        <h3 class="text-center ">les meilleurs Sacs au dos</h3>
    </div>
    <div class="row ">
        {% for sac in sac_a_dos %}
        <div class="col-lg-4 col-sm-4 col-xs-4 ">
            <div class="card ">
                <img class="card-img-top " src="{{ sac.image.url }} " width="150 " height="150 " />
                <div class="card-body ">
                    <h5 class="card-title ">Nom: {{ sac.nom }}</h5>
                    <p class="card-text ">Description: {{ sac.description}}</p>
                    <div class="text-center">
                        <p class="card-title ">Prix: {{sac.montant}}<span>CFA</span> </p>
                        <a href="/lieu" class="btn btn-danger text-center ">Commander</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}